@model IEnumerable<WebApplication1.Models.TreeModel<int>>
@using System.Linq;
@{
    ViewData["Title"] = "Index";
}


<form>
    <fieldset>
        <label>
            Nazwa nowego węzła/węzła do edycji:
            <input type="text" name="Node"  />

        </label><br />

        <label>
            Rodzic węzła:
            <select name="nodeParent">
                @foreach (var item in Model)
                {
                    <option>
                        @Html.DisplayFor(modelItem => item.Data)
                    </option>
                }
            </select>
            <button name="AddChildButton" value="create" asp-action="Create">Dodaj węzeł</button>
        </label><br />

        <label>
            Rodzic węzła:
            <select name="newParent">
                @foreach (var item in Model)
                {
                    <option>
                        @Html.DisplayFor(modelItem => item.Data)
                    </option>
                }
            </select>
            <button name="TransferNodeButton" asp-action="TransferNode">Przenieś węzeł</button>
        </label><br />

        <label>
            Nowa nazwa węzła:
            <input type="text" name="newNodeName" />
        <button name="newNodeNameButton" asp-action="NewNodeName" >Zmień nazwę</button><br />
        </label><br />

        <label>

            <button value="delete" name="button" asp-action="Delete">Usuń</button>

        </label><br />

    </fieldset>
</form>



<ul>
    @foreach (var item in Model)
    {
        
        if (item.Height == 1)
        {
           
                <li>@Html.DisplayFor(modelItem => item.Data)</li>
            
        }
        if (item.Height == 2)
        {
           
                <ul>
                    <li>@Html.DisplayFor(modelItem => item.Data)</li>
                </ul>
           
        }
        if (item.Height == 3)
        {
        
                <ul>
                    <ul>
                        <li>@Html.DisplayFor(modelItem => item.Data)</li>
                    </ul>
                </ul>
          
        }
        if (item.Height == 4)
        {
         
                <ul>
                    <ul>
                        <ul>
                            <li>@Html.DisplayFor(modelItem => item.Data) </li>
                        </ul>
                    </ul>
                </ul>
        
        }
       
    }
</ul>

